body {
    font-family:Georgia;
}

h1 {
    font-size: 25px;
    font-family: 'Special Elite', serif;
  	font-size: 48px;
  	/*text-shadow: 4px 4px 4px #aaa;*/
}
}
h2 {
    font-size: 30px;
}
ul {
    list-style:none;
}
nav{
	margin: 5px 5px 5px 0px;
}
nav ul {
    text-transform: uppercase;
    color: white;
    list-style-type: none;
  	margin: 0;
 	padding: 5px 5px 5px 5px;
 	width: 200px;
  	background-color: #f1f1f1;

}
li a{
	color: black;
}
li a:hover{
	color: red;
}
li a:visited{
	color: gray;
}
header p{
	color: black;
}


.offpage {
    position: absolute;
    left: -1000px;
}
.offpage:focus { 
	position: absolute;
    left: 250px;
    margin: 5px;
    color: white;
}
.flex-container {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  /*background: white;*/
}

.flex-item {
  /*background: tomato;*/
  padding: 15px;
  width: 30%;
  height: 100px;
  margin-top: 5px;

  
  /*line-height: 20px;*/
  color: black;
  /*font-weight: bold;*/
  font-size: 12pt;
  text-align: flex-start;
}
body,html {
  padding: 0;
  margin: 10;
}

.wrapper {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-column-gap: 5px;
  grid-row-gap: 5px;
 
}

.item {

  /*border: 1px white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: 70px;*/
  color: white;
  /*min-height: 150px;*/
  padding: 2%;
}

img.galleryitem{
	width: 300px;

}
div.flex-container img{
	width: 100px;
}
div.flex-container p{
	background-color: white;
}
header {

 	background-image: url("../images/graffiti_banner.jpg");
 	height: 300px;
}






















